<% include header.ejs %>
    
	<h2>César Sánchez Ortega <a href='mailto:cesarsanc@yahoo.es'>cesarsanc@yahoo.es</a></h2>
    
    <img src='/images/P3310140.JPG' style='width:90vmin;'>
    
<% include footer.ejs %>
