<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='icon' href='/favicon.png' />
  </head>
  <body>
  
  <header>Quiz: Otra página para responder cosas</header>
  
  <nav>
	<a href='/'>Inicio</a>
	<a href='/quizes/'>Preguntas</a>
	<a href='/author'>Créditos</a>
  </nav>
  
  <section>
  
  