<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='icon' href='/favicon.png' />
  </head>
  <body>
    <h1>Bienvenido a Quiz</h1>
    <p>Otra página con preguntas para responder</p>
    
    <footer><a href='/author'>Créditos</a></footer>
    
  </body>
</html>
